# Comando for - Iterando sobre sequências de dados (percorrendo iteráveis)

### Iterando sobre uma lista

In [1]:
lista = [1, 19, 2, 15, 21, 12, 2]
for num in lista:
    print(num)

1
19
2
15
21
12
2

In [2]:
print(num)

2

In [3]:
# Verificando se um número é par ou ímpar
for num in lista:
    if num % 2 == 0:
        print ("{} é par.".format(num))
    else:
        print(num,"é ímpar.")

1 é ímpar.
19 é ímpar.
2 é par.
15 é ímpar.
21 é ímpar.
12 é par.
2 é par.

In [4]:
# Contador [impares e pares]
cont_impar = 0
cont_par = 0
for num in lista:
    if num % 2 == 0:
        cont_par += 1
    else:
        cont_impar += 1
print("A lista contem {} números pares e {} números ímpares.".format(cont_par, cont_impar))

A lista contem 3 números pares e 4 números ímpares.

In [5]:
# Somatório
soma = 0
for n in lista:
    soma += n
print("A soma dos elementos da lista = ", soma)

A soma dos elementos da lista =  72

In [6]:
# Há uma forma mais simples de calcular somatórios
print("A soma dos elementos da lista = ", sum(lista))

A soma dos elementos da lista =  72

In [7]:
# Mas a função sum() não permite somar elementos específicos
soma_impar = 0
for n in lista:
    if n % 2 == 1:
        soma_impar = soma_impar + n # sompa_impar += n
print("A soma dos elementos ímpares da lista = ", soma_impar)

A soma dos elementos ímpares da lista =  56

### Iterando sobre uma faixa de valores gerada com a função range()

In [8]:
# Iterando sobre uma faixa de valores gerada com a função range()
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
# Somatório dos múltiplos de 3 entre 1 e 100
soma_mult_3 = 0
for x in range(3, 100, 3):
    soma_mult_3 += x
print(soma_mult_3)

1683

In [10]:
# Imprimindo a taboada de um número qualquer
num = int(input("Digite o número que deseja imprimir a taboada: "))
for mult in range(1,11):
    print("{} x {} = {}".format(num, mult, num*mult))

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [11]:
# Imprimindo a taboada de 1 a 9
for num in range(1,10):
    for mult in range(1,11):
        print("{} x {} = {}".format(num, mult, num*mult))
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

### Iterando sobre um string

In [12]:
maiorpalavra  = "pneumoultramicroscopicossilicovulcanoconiótico"
for letra in maiorpalavra:
    print(letra)

p
n
e
u
m
o
u
l
t
r
a
m
i
c
r
o
s
c
o
p
i
c
o
s
s
i
l
i
c
o
v
u
l
c
a
n
o
c
o
n
i
ó
t
i
c
o

### Iterando sobre uma tupla

In [13]:
tupla = (1, 19, 5, 12, 6)
for ele in tupla:
    print(ele)

1
19
5
12
6

In [14]:
lista_tupla = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
(t1, t2, t3) = lista_tupla[1] # desmembrando a tupla
print(type(lista_tupla))
print(type(lista_tupla[1]))
print(type(t1))

<class 'list'>
<class 'tuple'>
<class 'int'>

In [15]:
lista_tupla

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [16]:
lista_tupla[1]

(4, 5, 6)

In [17]:
t1

4

In [18]:
t2

5

In [19]:
t3

6

In [20]:
lista_tupla_notas = [(18, 20, 15, 22), (10, 15, 25, 19), (16, 24, 21, 20), (10, 13, 18, 13)]
for (ele1, ele2, ele3, ele4) in lista_tupla_notas:
    print("A 3a nota = {}.".format(ele3))

A 3a nota = 15.
A 3a nota = 25.
A 3a nota = 21.
A 3a nota = 18.

### Iterando em um conjunto

In [21]:
conj1 = {1, 5, 2, 6, 3, 4}

for ele in conj1:
    print(ele)

1
2
3
4
5
6

In [22]:
conj2 = {1, 17, 12, 4, 2, 20}

for ele in conj1:
    if ele in conj2:
        print("O elemento {} está contido em conj2.".format(ele))
    else:
        print("O elemento {} não está contido em conj2.".format(ele))

O elemento 1 está contido em conj2.
O elemento 2 está contido em conj2.
O elemento 3 não está contido em conj2.
O elemento 4 está contido em conj2.
O elemento 5 não está contido em conj2.
O elemento 6 não está contido em conj2.

### Iterando em um dicionário

In [23]:
dic_estados = { "MG":"Minas Gerais", "PR": "Paraná", "BA": "Bahia", "RN": "Rio Grande do Norte", "AM": "Amzonas"}
for est in dic_estados:
    print(est)

MG
PR
BA
RN
AM

In [24]:
for est in dic_estados.values():
    print(est)

Minas Gerais
Paraná
Bahia
Rio Grande do Norte
Amzonas

In [25]:
for (sig,est) in dic_estados.items():
    print("A sigla para {} é {}.".format(est, sig))

A sigla para Minas Gerais é MG.
A sigla para Paraná é PR.
A sigla para Bahia é BA.
A sigla para Rio Grande do Norte é RN.
A sigla para Amzonas é AM.

### Comprehensions

Uma maneira bastante concisa que o Python fornece para a criação de sequencias (listas, tuplas, dicionários, strings, etc).

**Sintaxe:**

```python
listasaida = [expressão for var in listaentrada]

listasaida = [expressão for var in listaentrada if condição]
```

**Exemplo:**

Como criar uma lista com 20 elementos (1 a 20) no Python?

In [26]:
# 1a maneira - digitando todos os elementos
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
# 2a maneira - usando a função range
lista1= list(range(1, 21))
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [28]:
# 3a maneira - usando o for
lista3 = []
for i in range(1, 21):
    lista3.append(i)
lista3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
# 4a maneira - usando comprehensions
lista4 = [i for i in range(1,21)]
lista4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [30]:
# Outro exemplo: criar uma lista de números pares entre 1 e 50
pares = []
for i in range(1, 51):
    if i%2 == 0:
        pares.append(i)
pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [31]:
pares2 = [num for num in range (1,51) if num % 2 == 0]
pares2

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [32]:
divisiveis3e7 = [num for num in range(1,100) if num % 3 == 0 and num % 7 == 0]
divisiveis3e7

[21, 42, 63, 84]

In [33]:
letras = [l.upper() for l in "palavra"]
letras

['P', 'A', 'L', 'A', 'V', 'R', 'A']